package models

import "github.com/jcsvwinston/nucleus/pkg/model"

type Article struct {
	model.BaseModel
	Title     string `db:"column:title;required" validate:"required,min=3" admin:"list,search"`
	Content   string `db:"column:content" admin:"list"`
	Published bool   `db:"column:published" admin:"list,filter"`
}
